<div class="container-fluid jumbotron">
    <div class="col-xs-3"></div>
    <div class="col-md-6 offset-md-3">
  <form >
     <fieldset>
        <div class="register">
      <legend>Forgot Password</legend>
      <div class="form-group">
        <label for="name">Entere Email</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
          <input type="submit" class="btn btn-md btn-primary" value="Save" name="name">&nbsp;&nbsp;
        <input type="reset" class="btn btn-md btn-info " value="Reset" name="name">
      </div>
      </div>
    </fieldset>
   
  </form>
</div>
  <div class="col-xs-3`"></div>
</div>